@import "~normalize.css";

.remutil__main {
  display: grid;
  grid-auto-flow: column;
  grid-template-areas:
    "a a"
    "b c";
  justify-items: center;
}

.remutil__main > section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.remutil__root_px_section {
  grid-area: a;
}

.remutil__px_section {
  grid-area: b;
}

.remutil__rem_section {
  grid-area: c;
}

input:required {
  box-shadow: none;
}
input:invalid {
  box-shadow: none;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}

.remutil__footer {
  position: fixed;
  bottom: 1.875rem;
  font-size: 0.75rem;
}
