@import "~normalize.css";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

.remutil {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  background: hsla(0, 0%, 98%, 1);
  color: hsla(0, 0%, 20%, 1);
}

.remutil__main {
  width: 100%;
  max-width: 31.25rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-areas:
    "a a"
    "b c";
  grid-gap: 1.375rem;
  align-items: center;
  padding: 1.875rem;
}

.remutil__main > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.375rem;
}

.remutil__root_px_section {
  grid-area: a;
}

.remutil__px_section {
  grid-area: b;
}

.remutil__rem_section {
  grid-area: c;
}

label {
  margin-bottom: 0.625rem;
  text-transform: lowercase;
  user-select: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  border: 0.125rem solid #ebebeb;
  width: 100%;
  padding: 0.625rem;
  box-sizing: border-box;
  border-radius: 0.3125rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]:focus {
  border-color: #f7baba
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::selection {
  background: #fbdfdf;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}

.remutil__footer {
  position: fixed;
  bottom: 1.875rem;
  font-size: 0.8125rem;
  text-align: center;
  line-height: 1.25rem;
  padding: 0 0.75rem;
  color: #b0b0b0;
  user-select: none;
}

.remutil__footer > a {
  color: #b0b0b0;
}
